@media screen  and (min-width:1200px) {

body {
    margin: 1rem;
    cursor: pointer;
    background-color: rgb(255, 228, 196);
     color: blue;   
}

header {
    background-color: #c4e2ff;
    border-radius: 2rem;
    padding: 2rem;
   

}
main {

    display: flex;
    width: 100%;
    flex-direction: column;
    
   
}

.nav-link {
     font-weight: 500;
  
 
}

.nav-item {
    display: inline;;
    font-weight: 100;
    font-size: 2rem;
    
      
}

.navbarauto1 {
    display: flex;
    flex-direction:row;
    margin-left: 2rem;
  

}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-weight: 100;
    font-size: 2rem;
}

.container1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    padding-top: 2rem;
}
    
  .kategorijos {
    text-align: left;
  }
   

   .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .btn  {
    width:50%;
    padding: 1rem;
    margin-top:1rem;
    background-color: rgb(204, 217, 244);
    border: 5px solid hwb(256 8% 10%);
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
   
   }

   .btn1  {
    width:20%;
    margin-top: -2rem;
    border: 5px solid hwb(256 8% 10%);
    background-color: #f9f9f4;
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    
   
   }

   .form {
    width:20%;
    padding: 1rem;
    margin-top: 1rem;
    
    border-radius: 0.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;

   }
   input {
    border: 5px solid hwb(256 8% 10%);
    background-color: rgb(204, 217, 244);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.3rem;
    font-size: 2rem;
    width:60%;
    margin-top: 1rem;
}

  .container.puslapiai {
    display: flex;
    flex-direction: row;
    margin-left:80rem;
 
    
   
}
.pagination {
    display: flex;
    flex-direction: row;
    padding: 2rem;

}
.page-item {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    
}
}
